// .Invoicetable {
//   table,
//   th,
//   td {
//     border: 1px solid black;
//     border-collapse: collapse;
//     font-size: 14px;
//     .asdf{
//       padding-left: 7px;
//     }
    
//   }

// }

.subcontainer_2 {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 10px;
  .wrapper_1 {
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px solid black;
    }

    
   
    

    .subwrapper_1, .subwrapper_footer {
      font-size: 12px;
      color: black;
      padding: 6px 20px;
      border-right: 1px solid black;
      
      

      .terms{
        font-size: 8px;
        line-height: 12px;
        color:#595959;
        
      }
      .terms_heading{
        font-size: 10px;
        font-weight: 600;
        
        }
        
       

      }
      .subwrapper_footer{

      }
      
   
     
    .subwrapper_2 {
      font-size: 14px;
      color: black;
      padding: 0 20px;
      
    }
    .signature{
     color:#595959;
     margin-left: 400px;
     margin-top: 18px;
     line-height: 28px;
      
    }
    
   
  
  } 
  .footer_list{
    font-size: 10px;
    padding-top: 5px;
  } 
  
  
}

@media only print{
  .subcontainer_2 {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    .wrapper_1 {
      display: flex;
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }
  
      
     
      
  
      .subwrapper_1{
        font-size: 7px;
        margin-right: 20px;
        color: black;
        padding: 7px 15px 3px 3px;
        border-right: 1px solid black;
        line-height: 15px;
        
        
  
        .terms{
          font-size: 7px;
          line-height: 8px;
          color:#595959;
          
        }
        .terms_heading{
          font-size: 8px;
          font-weight: 500;
          
          }
          
         
  
        }
        .subwrapper_footer{
          font-size: 10px;
          color: black;
          padding: 7px 15px 3px 3px;
        border-right: 1px solid black;
        line-height: 15px;


        }
        
     
       
      .subwrapper_2 {
        font-size: 6px;
        color: #000000;
        padding: 1px 0 7px 0;
        margin-left: 10px;
        
      }
      .bar_code{
        padding-top: 20px;
      }
    
      .signature{
       color:black;
       margin-left: 150px;
       margin-top: 18px;
       line-height: 20px;
        
      }
      
     
    
    } 
    .footer_list{
      font-size: 5px;
      padding-top: 20px;
    } 
    
    
  }


}
