.trigger {
  font-size: 18px;
  line-height: 64px;

  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-children {
  margin-top: -0.1px;
  padding-top: 0.1px;
  box-shadow: 0 0 black;
}

.tvsit_main-layoutFold {
  // margin-left: 80px;
}
.tvsit_main-layoutUnFold {
  // margin-left: 200px;
}

.tvsit_main-layout-avatar {
  margin-right: 15px;
}
.tvsit_main-layout-name{
  position: relative;
  margin-left: -7px;
  margin-right: 6px;
  margin-top: -7px;
}
// .tvsit_main-layout-dropdown{
//  position: absolute;
//  margin-top: -20px;
// }

.qn_icon{
  margin-right:35px;
  font-size: 18px;
}
.bell_icon{
  margin-right:35px;
  font-size: 18px;
}
.avatar{
  margin-bottom: 10px;

}

.tvsit_main-logo {
  height: 52px;
  width: 48px;
  margin-left: 15px;
  display: block;
}
.tvsit_main-logo2 {
  height: 10px;
  width: 150px;
  transform: translateY(-10px);
  margin: 10px auto 20px auto;
  display: block;
}
// .tvsit_main-logo-collapsed {
//   height: 50px;
//   margin: 10px auto 20px auto;
//   display: block;
// }
// .tvsit_main-logo2-collapsed {
//   height: 5px;
//   width: 70px;
//   transform: translateY(-10px);
//   margin: 10px auto 20px auto;
//   display: block;
// }
.tvsit-main-layout-title {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  justify-self: center;
}

.tvsit-main-menu {
  padding-left: 15px !important;
  background: #1890ff !important;
  border-radius: 30px !important;
  width: 95% !important;
  // marginRight: "10px",
  color: white !important;
  margin-left: 5px !important;
  margin-top: 22px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.tvsit-main-menu_collapsed {
  padding-left: 15px !important;
  background: #1890ff !important;
  border-radius: 30px !important;
  width: 50% !important;
  color: white !important;
  // marginRight: "10px",
  margin-left: 15px !important;
  margin-top: 22px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.tvsit-main-menu-selected {
  padding-left: 15px !important;
  background: #002776 !important;
  border-radius: 30px !important;
  width: 95% !important;
  // marginRight: "10px",
  margin-left: 5px !important;
  margin-top: 22px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}
.tvsit-main-menu-selected_collapsed {
  padding-left: 15px !important;
  background: #002776 !important;
  border-radius: 30px !important;
  width: 50% !important;
  // marginRight: "10px",
  margin-left: 15px !important;
  margin-top: 22px !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.tvsit-header-lg {
  background: #fff;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 22px;
  height: 50px;
}
.cm_pagination{
  margin-left: auto;
  margin-right: 10px;
}
.footer{
  text-align:center;
  background-color: #EEEEEE;
  height: 20px;
  margin-bottom:10px;
  color: #a5a4a4;;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  // .tvsit_main-layoutUnFold {
  //   margin-left: 0px;
  // }
  // .tvsit-main-layout-title {
  //   font-size: 16px;
  //   margin-left: 10px;
  //   color: black;
  // }
  // .tvsit_main-logo {
  //   height: 40px;
  //   // width: 83px;
  //   margin-left: 10px;
  //   display: block;
  // }
  .tvsit-header-lg {
  }
  .tvsit_main-layout-avatar {
    margin-right: 0px;
    
  }
  .tvsit_main-layout-name{
    position: relative;
    margin-left: 10px;
    margin-right: 2px;
    margin-top: -7px;
    font-size: 13px;
  }
  // .tvsit_main-layout-dropdown{
  //  position: absolute;
  //  margin-top: -20px;
  // }
  
  .qn_icon{
    margin-right:20px;
    font-size: 15px;
  }
  .bell_icon{
    margin-right:20px;
    font-size: 15px;
  }
  .avatar{
    margin-bottom: 10px;
  
  }
  
  .tvsit_main-logo {
    height: 47px;
    width: 45px;
    margin-left: 10px;
    display: block;
  }
  .tvsit_main-logo2 {
    height: 10px;
    width: 150px;
    transform: translateY(-10px);
    margin: 10px auto 20px auto;
    display: block;
  }
  // .tvsit-main-menu {
  //   padding-left: 15px !important;
  //   background: #002776;
  //   border-radius: 30px;
  //   width: 100%;
  //   // marginRight: "10px",
  //   margin-left: 0px;
  //   font-size: 12px;
  //   font-weight: 500;
  // }
  // .trigger {
  //   display: none;
  // }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // .tvsit_main-layoutUnFold {
  //   margin-left: 0px;
  // }
  // .tvsit-main-layout-title {
  //   font-size: 14px;
  //   margin-left: 10px;
  //   color: black;
  // }
  // .tvsit-main-menu {
  //   padding-left: 15px !important;
  //   background: #002776;
  //   border-radius: 30px;
  //   width: 100%;
  //   // marginRight: "10px",
  //   margin-left: 0px;
  //   font-size: 12px;
  //   font-weight: 500;
  // }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tvsit_main-layoutUnFold {
    margin-left: 0px;
  }
  // .tvsit-main-layout-title {
  //   font-size: 14px;
  // }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // .tvsit_main-layoutUnFold {
  //   margin-left: 200px;
  // }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  // .tvsit_main-layoutUnFold {
  //   margin-left: 200px;
  // }
  // .tvsit-main-menu {
  //   padding-left: 15px !important;
  //   background: #002776;
  //   border-radius: 30px;
  //   width: 100%;
  //   // marginRight: "10px",
  //   margin-left: 0px;
  //   font-size: 12px;
  //   font-weight: 500;
  // }
}
