.tvsit-cmdashboard_table {
  table {
    border-spacing: 0;
    border: 1px solid #dedede !important;
    table-layout: auto;
    width: 100%;
    thead {
      background: #004178;
      color: white;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      text-align: left;
      border-radius: 2px 2px 0 0;
      border-collapse: separate;
      border-spacing: 0;
      tr > th {
        padding: 12px 8px;
      }
    }
    tbody {
      tr {
        font-size: 16px;
        color: black;

        // background-color: #f2f2f2;
        td {
          padding: 12px;
        }
        &:nth-child(even) {
          background-color: #f2f2f2;
        }
        &:nth-child(odd) {
          background: #d9d9d9;
        }
      }
    }

    th,
    td {
      // margin: 0;

      // // border-bottom: 1px solid black;
      // // border-right: 1px solid black;
      width: 100%;
      &:last-child {
        border-right: 0;
      }
    }
  }
  .fixedList {
    overflow: overlay !important;
  }
}
