.upload_container {
  background-color: white;
  padding: 10px;
  margin: 20px;
}
.container {
  background-color: white;
  padding: 20px 30px;
  margin: 20px 30px;
}
.label {
  font-size: 14px;
  color: black;
  margin: 0px 0px 3px 0px;
}

.reactPrintContent {
  padding: 30px;
}

@media only print {
  .container {
    background-color: white;
    padding: 20px 20px;
    margin: 20px;
  }
  .label {
    font-size: 12px;
    color: black;
    margin: 0px 0px 8px 0px;
  }

  .reactPrintContent {
    padding: 30px;
  }
}

@media only screen and (max-width: 600px) {

  


}

