.container{
    margin:30px auto;
    display:block;
    background-color: #ffffff;
    padding: 20px;
    width:70%
}
.sihr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sititle{
    text-align: center;
}

