.tvsit-charts_wraper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tvsit-charts_data {
    font-size: 28px;
    color: black;
  }
}
.tvsit-charts_head {
  font-size: 18px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}
.tvsit-charts_percent {
  font-size: 22px;
  color: #23d29b;
  text-align: center;
  text-transform: uppercase;
}

.styles_scoreValue__2dBgK .styles_value__2Y4_G {
  font-size: 40px !important;
}
.styles_scoreValue__2dBgK .styles_separator__1X7r0 {
  padding: 0 4px;
  font-size: 25px !important;
}
.styles_scoreValue__2dBgK .styles_maxValue__3RXTR {
  font-size: 25px !important;
}
