body {
  // font-family: Georgia, serif;
  @font-face {
    font-family: Georgia, serif;
    font-display: swap;
  }
}
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
}
.fontLoaded body {
  font-family: "Open Sans", Arial, sans-serif;
}
#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}
//variables
$color-primary: #004178;
$color-secondary: #00a5e6;

//helpers
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

//container
@import "./containers/all";

//components
@import "./components/all";
