.container {
  padding: 20px;
}
.title {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  line-height: 14px;
}
.title_preference {
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  color: #00a5e6;
}
.d_flex {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  height: 100%;
}
.dots {
  height: 10px;
  width: 10px;
  background: red;
}
