.tvsit-dwm-container {
  margin: 0 7px 0 7px;
}

.dashboard_header {
  padding-top: 50px;
  border-radius: 15px 15px 0px 0px;
}

.dwm_title {
  padding-left: 25px;
  color: #262626c0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 12px;
}

.breadcrumb {
  margin: 7px 0 7px 5px;
}

.site-layout-content {
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  margin: 16px 0 16px 24px;
}

.tvsit-vts-bgcontainer {
  width: auto;
  height: 100%;
  margin-top: -15px;
  left: 21px;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
  font-family: "open sans";
}

.bluecontainer {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  width: auto;
  height: auto;
  margin-left: 2.5%;
  top: 137px;
  background: #dfeeff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "open sans";
}

.mapcontainer {
  width: 96.3%;
  height: 436px;
  margin-left: 3%;
  margin-top: 25px;
  border: 2px solid #70c1e9;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: "open sans";
}

.tvsit-vts-container {
  display: flex;
  width: 96%;
  height: 8vw;
  left: 21px;
  top: 75px;
  margin: 10px;
  border-radius: 20px;
  font-family: "open sans";
}

p {
  margin: 10px 0;
  font-family: "open sans";
}
.vl {
  border-left: 1px solid rgba(18, 63, 116, 0.3);
  height: 4vw;
  margin-right: 20px;
  margin-top: 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 3px 30px;
  font-weight: bold;
  border: none;
  font-family: "open sans";
}

.flex2-container2 {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
}

.flex2-item2-left2 {
  background: #dfeeff;
  color: #123f74;
  padding: 10px;
  margin-left: 3%;
  flex: 50%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(18, 63, 116, 0.3);
}

.flex2-item2-center2 {
  background: #dfeeff;
  color: #123f74;
  padding: 10px;
  flex: 50%;
  height: auto;
  border: 1px solid rgba(18, 63, 116, 0.3);
}

.flex2-item2-right2 {
  background: #dfeeff;
  color: #123f74;
  padding: 10px;
  flex: 50%;
  height: auto;
  margin-right: 10px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title20 {
  text-align: left;
  margin-top: 0px;
  float: left;
  clear: both;
  color: #123f74;
  font-weight: 600;
}

.title21 {
  text-align: right;
  font-weight: 600;
  color: #123f74;
}

.centRightTit {
  text-align: right;
  color: #131212;
}

@media only screen and (max-width: 600px) {

.flex2-container2{
  flex-direction: column;
}
  
.flex2-item2-left2 {
  background: #dfeeff;
  color: #123f74;
  padding: 10px;
  margin-left: 3%;
  height: auto;
  border-radius: 0px;
  margin-right: 2%;
}

.flex2-item2-center2 {
  background: #dfeeff;
  color: #123f74;
  padding: 10px;
  height: auto;
  margin-left: 3%;
  margin-right: 2%;
}

.flex2-item2-right2 {
  background: #dfeeff;
  color: #123f74;
  margin-left: 3%;
  border-radius: 0px;
  margin-left: 3%;
  margin-right: 2%;
}

.dwm_title{
  font-size: medium;
}
// .title20 {
//   text-align: left;
//   margin-top: 0px;
//   float: left;
//   clear: both;
//   color: #123f74;
//   font-weight: 600;
// }

// .title21 {
//   text-align: right;
//   font-weight: 600;
//   color: #123f74;
// }

}
