.tvsit-loginPage_svg {
  position: absolute;
  width: 650px;
  height: 500px;

  left: 0px;
  top: 50px;
  &-1 {
    position: absolute;
    left: 1.56%;
    right: 4.5%;
    top: 25%;
    // bottom: 17.28%;
  }
  &-2 {
    position: absolute;
    left: 0%;
    right: 9.46%;
    top: 0%;
    // bottom: 6.15%;
  }

  &-3 {
    position: absolute;
    left: 68.2%;
    right: 13.49%;
    top: 53.58%;
    bottom: 31.34%;
  }
}

.tvsit-loginPage_logo {
  position: absolute;
  width: 95px;
  height: 90px;
  left: 950px;
  top: 50px;
  //   background: url(/images/SVG/loginSvg4.svg);
  mix-blend-mode: multiply;
}

.tvsit-loginPage_content {
  display: flex;
  flex-direction: column;
  padding: 24px;

  position: absolute;
  width: 476px;

  // left: calc(50% - 476px / 2 + 343px);
  // top: calc(50% - 438px / 2 - 6px);

  /* Gray / gray-1 */

  background: #ffffff;
  border-radius: 2px;
  &-wrapper {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
  }
  &-img {
    position: static;
    width: 370px;
    height: 70px;
    left: 53px;
    top: 24px;
    margin: 0px 24px;
  }
  &-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #262626;
    margin: 20px 0px;
  }
  &-btn {
    background: $color-primary;
    border-radius: 2px;
    color: white;
  }
}

.tvsit-loginPage_copyrights {
  height: 22px;
  position: absolute;
  top: 550px;
  right: 250px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  color: #595959;
}

.tvsit-loginPage_resend {
  color: $color-secondary;
  text-align: center;
  margin-top: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tvsit-loginPage_svg {
    display: none;
  }
  .tvsit-loginPage_content {
    width: 90%;
    &-wrapper {
      /* position: absolute; */
      display: flex;
      /* width: 100vw; */
      /* height: 100vh; */
      justify-content: center;
      align-items: center;
      padding-right: 0px;
    }
    &-img {
      width: 100% !important;
      height: 55px;
      left: 53px;
      top: 24px;
      margin: 0 auto;
    }
  }
  .tvsit-loginPage_copyrights {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
