* {
  font-family: "open sans";
  font-style: normal;
}

.tvsit-dwm-container {
  margin: 0 7px 0 7px;
}

.dashboard_header {
  padding-top: 50px;
  border-radius: 15px 15px 0px 0px;
}

.dwm_title {
  padding-left: 25px;
  color: #262626c0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 12px;
}

.breadcrumb {
  margin: 7px 0 7px 5px;
}

.site-layout-content {
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  margin: 16px 0 16px 24px;
}

.tvsit-vts-bgcontainer {
  width: 100%;
  height: 96vw;
  margin-top: -15px;
  left: 21px;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
}

// .bluecontainer{
// font-style: normal;
// font-weight: bold;
// width: 1265px;
// height: 111px;
// margin-left: 2.5%;
// top: 137px;
// background: #DFEEFF;
// box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
// border-radius: 10px;
// }

.mapcontainer {
  width: 1265px;
  height: 436px;
  margin-left: 2.5%;
  margin-top: 25px;
  border: 2px solid #70c1e9;
  box-sizing: border-box;
  border-radius: 10px;
}

.tvsit-vts-container {
  display: flex;
  width: 96%;
  height: 100%;
  left: 21px;
  top: 75px;
  margin: 10px;
  border-radius: 20px;
}

.vl {
  border-left: 1px solid rgba(18, 63, 116, 0.3);
  height: 4vw;
  margin-right: 20px;
  margin-top: 10px;
}

// .d-flex {
//   display: flex;
//   justify-content: space-between;
// }

button {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 3px 30px;
  font-weight: bold;
  border: none;
}

//  .blueactivecontainer{
//   font-style: normal;
//   font-weight: bold;
//   width: 1265px;
//   height: 90px;
//   top: 137px;
//   background: #DFEEFF;
//   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 0px;
//   margin: 15px 0px  1% 1%;
//  }

.blueexpandcontainer {
  font-style: normal;
  font-weight: bold;
  width: 96vw;
  height: 65px;
  margin-left: 1%;
  background: #dfeeff;
  border-radius: 10px;
}

.bluecompletedcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-style: normal;
  font-weight: bold;
  width: auto;
  height: auto;
  margin-left: 1%;
  top: 137px;
  margin-top: 15px;
  background: #dfeeff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.tdodetails {
  margin-right: 15px;
  font-size: 11px;
  color: grey;
  line-height: 18px;
  padding: 20px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.trackactive {
  align-items: center;
  text-align: center;
  margin: 10px 15px;
  font-size: 11px;
  color: #123f74;
  line-height: 18px;
  padding-top: 10px;
}

.intransit {
  background-color: #1ea808;
  line-height: 10px;
  font-weight: 600;
}

.parastyle {
  font-family: "open sans";
  font-style: normal;
  color: #123f74;
}

.location {
  font-size: 13px;
  font-family: "open sans";
  font-style: normal;
  color: #123f74;
  margin-top: 15px;
  margin-right: 25px;
  font-weight: 600;
}
.startdate {
  font-size: 14px;
  font-family: "open sans";
  font-style: normal;
  color: #123f74;
  margin-top: 15px;
  margin-right: 15px;
  font-weight: 600;
}
.distance {
  font-size: 14px;
  font-family: "open sans";
  font-style: normal;
  color: #123f74;
  margin-top: 15px;
  margin-right: 15px;
  font-weight: 600;
}

.moredetails {
  color: red;
  font-weight: 400;
  font-style: normal;
  margin-left: 2px;
}

.selectBox{
  margin-left: 35%;
}

.flex-container {
  margin-top: 0.5%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  text-align: center;
}

.flex-item-left {
  background: #DFEEFF;
  color: #123F74;
  padding: 10px;
  flex: 40%;
  height: auto;
}

.flex-item-center {
  background: #DFEEFF;
  color: #123F74;
  padding: 10px;
  flex: 40%;
  height: auto;
  text-align: left;
}

.flex-item-right {
  background: #DFEEFF;
  color: #123F74;
  padding: 10px;
  flex: 40%;
  height: auto;
}

.flex-item-last {
  background: #DFEEFF;
  color: #123F74;
  padding: 10px;
  flex: 5%;
  height: auto;
}

.title1 {
  text-align: left;
  color: #008DC5;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title2 {
  text-align: right;
  color: #131212;
}

.title3 {
  text-align: left;
  color: #008DC5;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title4 {
  text-align: right;
  color: #131212;
}

.title5{
  text-align: left;
  color: #008DC5;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title6{
  text-align: right;
  color: #131212;
}
////
.title7 {
  text-align: left;
  color: #0e1518;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title8 {
  text-align: right;
  color: #131212;
}

.title9{
  text-align: left;
  color: #0d1011;
  margin-top: 0px;
  float: left;
  clear: both;
}

.title10{
  text-align: right;
  color: #131212;
}


.centRightTit{
  text-align: right;
  color: #131212;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}



@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .bluecompletedcontainer{
    width: auto;
    height: 259px;
    flex-wrap: wrap;
    align-items: center;
    top: 787px;
    background: #DFEEFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    flex-direction: column;
  }

  .tvsit-vts-container {
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
    border-radius: 20px;
  }

  .selectBox{
    padding-top: 50px;
    margin-left: 30%;
  }

 
}