/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tvsit-header_menu-sm {
    display: block;
  }
  .tvsit_drawer_logo {
    height: 100px;
    margin-left: 10px;
    display: block;
  }
  .tvsit_drawer_logo2 {
    height: 10px;
    width: 150px;
    transform: translateY(-10px);
    margin: 10px auto 20px auto;
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tvsit-header_menu-sm {
    display: block;
  }
  .tvsit_drawer_logo {
    height: 100px;
    margin-left: 10px;
    display: block;
  }
  .tvsit_drawer_logo2 {
    height: 10px;
    width: 150px;
    transform: translateY(-10px);
    margin: 10px auto 20px auto;
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tvsit-header_menu-sm {
    display: block;
    font-size: 18px;
  }
  .tvsit_drawer_logo {
    height: 70px;
    // margin-left: 10px;
    margin: 0 auto;
    display: block;
  }
  .tvsit_drawer_logo2 {
    height: 18px;
    width: 200px;
    transform: translateY(0px);
    margin: 10px auto 20px auto;
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  //
  
  
  .tvsit_drawer_logo {
    height: 70px;
    width: 77.42px;
    margin: 0 auto;
    display: block;
  }
  .tvsit_drawer_logo2 {
    height: 10px;
    width: 206px;
    transform: translateY(0px);
    margin: 10px auto 20px auto;
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


  .tvsit-header_menu-sm {
    display: block;
    font-size: 22px;
  }
  .tvsit_drawer_logo {
    height: 70px;
    width: 77.42px;
    margin: 0 auto;
    display: block;
  }
  .tvsit_drawer_logo2 {
    height: 10px;
    width: 206px;
    transform: translateY(0px);
    margin: 10px auto 20px auto;
    display: block;
  }
}
