/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tvsit-header_menu-sm {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .tvsit-header_menu-sm {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tvsit-header_menu-sm {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tvsit-header_menu-sm {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tvsit-header_menu-sm {
    display: none;
  }
}
